<app-menu-admin></app-menu-admin>
<div class="main">
  <div class="container-fluid">
<h3>Welcome Admin</h3>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a routerLink="../addFamilyDoctor">
            <img src="../../../../assets/doctor.png" alt="My Profile" style="width:70%">
            <div class="caption">
              <h4 style="text-align: center">Add new doctor</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
