<app-menu-doctor *ngIf="role === 'familyDoctor'"></app-menu-doctor>
<app-menu-patient *ngIf="role === 'patient'"></app-menu-patient>
<div class="main">
  <div class="container-fluid">
    <h3>Change Password</h3>
    <hr>
  <form [formGroup]="changePassForm" class="col-md-7">
    <div class="col-md-7">
      <label> Old password: </label>
      <input id="oldPassword" class="form-control" type="password" formControlName="oldPassword"/>
    </div>

    <div class="col-md-7">
      <label> New password: </label>
      <input class="form-control" type="password" formControlName="password">
    </div>

    <div class="col-md-7">
      <label>Confirm new password: </label>
      <input class="form-control" type="password" formControlName="matchingPassword">
    </div>

    <div class="col-md-7">
      <br>
      <button type="submit" class="btn btn-info" [disabled]="!changePassForm.valid" (click)="changePassword()">Save</button>
    </div>
  </form>
  </div>
</div>
