<app-menu-doctor></app-menu-doctor>
<div class="main">
  <div class="container-fluid">
    <h3>New vaccine</h3>
    <hr>
  <form [formGroup]="newVaccineForm">
    <div class="col-md-7">
      <label>Name: </label>
      <input class="form-control" type="text" formControlName="name"/>
    </div>

    <div class="col-md-7">
      <label>Date of receipt: </label>
      <input class="form-control" type="date" formControlName="dateOfReceipt"/>
    </div>

    <div class="col-md-7">
      <br>
    <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!newVaccineForm.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>
    </div>
  </form>
  </div>
</div>
